<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Article Editor</title>
    {% block stylesheets %}
        <style>
            @media (min-width: 40em) {
                body {
                    grid-template-columns: 12em 1fr;
                    grid-template-rows: auto 1fr auto;
                }

                header {
                    grid-column: span 2;
                }

                nav {
                    grid-row: span 2;
                }
            }
        </style>
    {% endblock %}
</head>
<body>

    <header>
        {% block header %}
        {% endblock %}
    </header>

    <main>
        {% block container %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

    {% block scripts %}
        {% include 'component/global_js_func.twig' %}
    {% endblock %}

</body>
</html>
