<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Article Editor Playground</title>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
    {% block header %}
    {% endblock %}
    {% block container %}
    {% endblock %}
    {% block footer %}
    {% endblock %}

    {% block scripts %}
        {% include 'component/global_js_func.twig' %}
    {% endblock %}
</body>
</html>
