{% if permissions.ARTICLE_TOOL_PUBLISHER_ROLE or permissions.ARTICLE_TOOL_EDITOR_ROLE %}
    <label><input class="statusBtn" type="button" onclick="window.location.href = 'edit?section_id={{ query_section_id }}'" value="New" /></label>
    <label><input class="js__btn_change_status statusBtn" type="button" data-set-status-id="1" value="Finished" /></label>
    <label><input class="js__btn_change_status statusBtn" type="button" data-set-status-id="4" value="Hold" /></label>
    <label><input class="js__btn_change_status statusBtn" type="button" data-set-status-id="2" value="Delete" /></label>
{% endif %}

{% if permissions.ARTICLE_TOOL_PUBLISHER_ROLE %}
    <label><input class="js__btn_change_status statusBtn" type="button" data-set-status-id="3" value="Publish" /></label>
    <label><input class="js__btn_change_status statusBtn" type="button" data-set-status-id="5" value="Unpublish" /></label>
{% endif %}

{% if permissions.ARTICLE_TOOL_VIEW %}
{% endif %}


