{% if permissions.ARTICLE_TOOL_PUBLISHER_ROLE or permissions.ARTICLE_TOOL_EDITOR_ROLE %}
    <label>
        <input class="statusBtn" type="button" onclick="window.location.href = 'edit?section_id={{ query_section_id }}'" value="New" />
    </label>
{% endif %}

