{%  for item in articles %}
    <table class="articleTable" cellspacing="5" width="100%">
        <tbody>
        <tr>

            {% set crazy_preview_url = TWIG_PREVIEW_LOCATION ~ item.article_url %}
            {% set reseller_preview_url = preview_url(item.article_id) ~ item.article_url %}

            <td width="55px" class="id" style="font-size:11px;">
                {% if permissions.ARTICLE_TOOL_PUBLISHER_ROLE or permissions.ARTICLE_TOOL_EDITOR_ROLE %}
                    <a target="_blank" href="edit?article_id={{ item.article_id }}">{{ item.article_id }}</a>
                {% else %}
                    <a target="_blank" href="{{ reseller_preview_url }}/?debug=1">{{ item.article_id }}</a>
                {% endif %}
            </td>

            <td class="name">
                <a target="_blank" href="{{ reseller_preview_url }}/?debug=1"
                   data-reseller-preview-url="{{ reseller_preview_url }}"
                   data-crazy-preview-url="{{ crazy_preview_url }}"
                >{{ item.article_title }}</a>
            </td>

            <td width="120px" class="date" style="font-size:11px;">{{ item.date_scanned }}</td>
            <td width="120px" id="{{ item.status|lower }}" class="status" style="font-size:11px;">{{ item.status }}</td>

            {% if checkbox %}
                <td width="20px" class="check"><label><input type="checkbox" class="article_status" value="{{ item.article_id }}"></label></td>
            {% endif %}
        </tr>
        </tbody>
    </table>
{% else %}
    {% if no_items_found_message %}
        <div class="no-items-found info">{{ no_items_found_message }}</div>
    {% else %}
        <h4>No Articles Found</h4>
    {% endif %}
{% endfor %}

