<div class="buttonsBar">
    <span><a href="./article_comments">All</a></span>
    {% for item in statuses %}
        {% set status_url = "?status_id=#{item.status_id}&status_name=#{item.status_name}" %}
        <span>
            <a href="{{ status_url }}" >{{ item.status_name|capitalize }}</a>
        </span>
    {% endfor %}
</div>

