<div class="articleId-searchbar">
    <input type="search" placeholder="Search Article Id" id="id__article_search"/>
</div>

<style>
    li.brand {
        font-size: large;
        font-weight: bolder;
    }
    li.section {
        padding-left: 13px;
    }
    li.line {
        border-top: 1px dotted #5174a3;
        width: 161px;
    }
</style>
<ul id="js__sections">
    <li class="homeLink">
        <a href="./">Home Page</a>
    </li>
    {% for item in sections %}
        <li class="js__section {{ item.section_type }}">

            {# link only for sections #}
            {% if item.section_type == "section" %}
                {% set section_link = "./article_list?section_id=#{item.section_id}" %}
                <a href="{{ section_link }}">
                    {{ item.section_title }}<p style="font-size:11px; display:inline;">&nbsp;({{ item.section_total }})</p>
                </a>
            {% else %}
                {{ item.section_title }}
            {% endif %}

        </li>
    {% endfor %}
</ul>

{% block scripts %}
    <script>
        ds__onReady(() => {
            console.debug('[sections:ready]');
        });
    </script>
{% endblock %}

