{% extends 'layout/app.twig' %}

{% block styles %}
    <style>
        .flexbox-centering {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
        }
    </style>
{% endblock %}

{% block container %}
    <div class="flexbox-centering">
        <div class="child">Action is Forbidden.</div>
    </div>
{% endblock %}
