{% extends "index.twig" %}

{% block article_list %}
    <h1>{{ section_title }}</h1>

    <div class="buttonsBar">
    {% if articles %}
        {% include 'component/article_action_bar.twig' %}
    {% else %}
        {% include 'component/article_action_only_new.twig' %}
    {% endif %}
    </div>

    {% if paginator.total > 0 %}
        {% if paginator_presets %}
            <div class="per-page-dropdown">
                <span>Per Page:</span>
                <select name="perPage" id="js__per-page-presets">
                    {% for key, item in paginator_presets %}
                        <option value="{{ item }}" {{ attribute_if_in(key, perPage, 'selected') }}
                        class="js__per-page-preset">{{ key }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    {% endif %}

    <table class="tdTitle" cellspacing="5" width="100%">
        <tbody>
        <tr>
            <td width="70px">ID</td>
            <td>Title</td>
            <td width="120px" class="date">Last Update</td>
            <td width="120px" style="text-align:right;">Status</td>
            <td width="20px" class="check"><input type="checkbox" name="select_all" id="btn__select_all"></td>
        </tr>
        </tbody>
    </table>

    <!-- BEGIN article_row -->
    <div id="js__article_list">
        {% include 'component/article_table_index.twig' with {'articles': articles, 'checkbox': true} %}
    </div>
    <!-- END article_row -->

    {% if articles %}
    <div class="buttonsBar btm">
        {% include 'component/article_action_bar.twig' %}
    </div>
    {% endif %}


    {% if paginator.total > 0 and paginator.perPage > 0 %}
        {% import "macro/pagination.twig" as pagination %}
        {% set page_uri = TWIG_REQUEST_URI ~ '&page=' %}
        <div id="paginator">
            {{ pagination.paginate(paginator.total, paginator.current, page_uri) }}
        </div>
    {% endif %}

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
        ds__onReady(() => {
            console.debug('[article_list:ready]');

            /*
                Article list select/deselect all
             */
            ds__bindEvent_getElementById('btn__select_all', 'change', (event) => {
                const $change_list = document.querySelectorAll('input.article_status[type=checkbox]');
                $change_list.forEach((element) => {
                    element.checked = event.target.checked
                });
                console.debug('well done [article_list:checked]')
            })

            /**
             * Change status (templates/_twig/component/article_action_bar.twig)
             */
            ds__bindEvent_getElementById('js__per-page-presets', 'change', () => {
                const perPage = ds__dom_optionSelected('js__per-page-presets');
                location.search = ds__url_addQueryParam('perPage', perPage)
            })

            ds__bindEvent_querySelectorAll('.js__btn_change_status', 'click', (event) => {
                const change_status_to = event.target.getAttribute('data-set-status-id')

                let ids = Array.from(document.querySelectorAll('.article_status:checked'))
                ids = ids.map((item) => {
                    return item.getAttribute('value')
                })

                console.debug(`setting status_id to ${change_status_to} for ids:`, ids)

                if (ids.length === 0) {
                    Swal.fire({
                        type: 'info',
                        title: 'No items selected',
                        text: 'Please select articles to take action on',
                        footer: '<a href>Why do I have this issue?</a>'
                    })
                    return false
                }

                ds__fetch_postData('ajax/update_status/', {
                    values: ids,
                    status: change_status_to,
                }, (result) => {
                    if (Number(result) !== 1) {
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong...',
                            footer: '<a href>Why do I have this issue?</a>'
                        })
                        return false
                    }
                    Swal.fire({
                        type: 'success',
                        title: 'Successfully changed',
                        text: 'Proceed to work',
                    })
                    location.reload()
                })
            });

        });
    </script>
{% endblock %}




