{% extends 'layout/app.twig' %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="public/css/article-list.css" type="text/css"/>
{% endblock %}

{% block container %}

    <div class="articleListTitle">
        <ul>
            <li class="homeLink">
                <a href="./">Home Page</a>
            </li>
        </ul>
    </div>

    <div class="articleLinks-container">
        <h1 id="header_title">Article Comments{{ title_description }}</h1>

        {% include 'component/comment_status.twig' with {'statuses': comment_statuses} %}

        <table class="tdTitle" cellspacing="5" width="100%">
            <tbody>
            <tr>
                <td width="70px">ID</td>
                <td width="70px">Article ID</td>
                <td width="170px">Message</td>
                <td width="160px" style="text-align:right;">Posted By</td>
                <td width="135px" class="date">Date Added</td>
                <td width="135px" style="text-align:right;">Date Published</td>
                <td width="75px" style="text-align:right;">Status</td>
            </tr>
            </tbody>
        </table>

        <style>
            .hided {
                display: none;
            }
        </style>
        {% for item in comments %}
            <table class="articleTable" cellspacing="5" width="100%">
                <tbody>
                <tr>
                    {% set article_url = ("https://manage.#{CRAZY_HOME}/members/help/#{item.article_url}/?comment_id=#{item.comment_id}")|url_encode %}
                    {%  set article_discuss_url = "https://manage.#{CRAZY_HOME}/members/member/member_login/?login_as=#{token}&redirect=#{article_url}" %}
                    <td width="70px"><a target="_blank" href="{{ article_discuss_url }}">{{ item.comment_id }}</a></td>
                    <td width="70px">
                        <a target="_blank" href="edit?article_id={{ item.article_id }}" title="{{ item.article_title }}">{{ item.article_id }}</a>
                    </td>
                    <td width="170px">
                        <div class="shortMessage">
                            {% set message = item.message|striptags %}
                            {% if message|length > 15 %}
                                {{ message|truncate(15) }}
                                <span class="js__readMore" style="color:#1589e1; cursor: pointer;">&gt;</span>
                            {% else %}
                                {{ message }}
                            {% endif %}
                        </div>
                        <div id="js__full_message_div" class="full_message hided">{{ item.message }}</div>
                    </td>
                    <td width="160px" style="text-align:right;">{{ item.display_name }}</td>
                    <td width="135px" class="date">{{ item.date_added|date("j M y G:i") }}</td>
                    <td width="135px" style="text-align:right;">{{ item.date_published|date("j M y G:i") }}</td>
                    <td width="75px" style="text-align:right; font-weight: bold; color:{{ item.status_color }}">{{ item.status_name|capitalize }}</td>
                </tr>
                </tbody>
            </table>
        {% endfor %}

        {% if paginator %}
            {% import "macro/pagination.twig" as pagination %}
            {% set page_uri = TWIG_REQUEST_URI ~ '&page=' %}
            <div id="paginator">
                {{ pagination.paginate(paginator.total, paginator.current, page_uri) }}
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        ds__onReady(() => {
            console.debug('[artcile_comment:ready]')

            ds__bindEvent_querySelectorAll('.js__readMore', 'click', (event) => {
                console.debug('[article_comments:click:js__readMore]')
                const showBlock = document.getElementById('js__full_message_div').classList.toggle('hided');
            })
        })
    </script>
{% endblock %}
