{% extends "layout/app.twig" %}

{% block styles %}
    <link rel="stylesheet" href="public/css/article-list.css" type="text/css"/>
    <style>
        .flexbox-centering {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 141px;
        }
        .monitor {
            /*background-image: url('https://theysaidso.com/img/bgs/man_on_the_mountain.jpg');*/
            background-position:center;
            background-repeat:no-repeat;
            background-size:cover;
        }
        .container-table {
            display: table;
            padding: 17px;
        }
        .container-row {
            display: table-row;
            padding: 17px;
        }
        .service-title {
            padding-bottom: 11px;
            border-bottom: thick double #32a1ce;
        }
        .container-result {
            border-radius: 5px;
            border: thick double #32a1ce;
            margin-left: 17px;
            width: 90%;
            /* margin-right: 17px; */
        }
    </style>
{% endblock %}

{% block container %}

    <!-- Controls -->
    <div class="flexbox-centering container-table">
        <input id="js_environment" type="hidden" data-value="{{ environment }}">

        <h2 class="service-title">Broken Links Monitor</h2>

        <div class="info container-row">Articles to scan:
            <span id="js_total" data-value="{{ total }}">{{ total }}</span>
        </div>

        <div class="controls container-row">
            <button id="js_start">Start</button>
            <button id="js_stop" disabled="true">Stop</button>
        </div>

        <div class="progress container-row">
            <label for="js_progress" id="js_progress_message">Ready</label>
            <progress id="js_progress" max="100" value="0"></progress>
        </div>

    </div>
    <!-- Controls -->

    <!-- Result -->
    <div id="js_result" class="articleTable container-table container-result">

    </div>
    <!-- Result -->

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        ds__onReady(() => {

            /**
             * App
             */
            const app = {
                state: {
                    environment: null,
                    stopped: true,
                    total: null,
                    data: {
                        untouched: null
                    }
                },

                init() {
                   this.state = {...this.state, ...{
                       environment: ds__dom_getDataAttr('js_environment', 'value'),
                       stopped: true,
                       total: ds__dom_getDataAttr('js_total', 'value'),
                       data: {
                           untouched: ds__dom_getDataAttr('js_total', 'value')
                       }
                   }}
                },

                updateState(update) {
                    const state = this.state
                    this.state = {...state, ...update}
                    this.updateProgress()
                },
                updateProgress() {
                    const progressBar = document.getElementById('js_progress')
                    let progress = ((this.state.total - this.state.data.untouched) / this.state.total) * 100
                    progress = Math.round(progress);
                    progressBar.setAttribute('value', progress)
                    this.updateInfo(`Processing... ${progress}%`)
                },
                updateInfo(message) {
                    document.getElementById('js_progress_message').innerText = message
                },
                updateControls() {
                    if (this.state.stopped) {
                        document.getElementById('js_stop').setAttribute('disabled', 'true')
                        document.getElementById('js_start').removeAttribute('disabled')
                        return this.state.stopped;
                    }
                    document.getElementById('js_start').setAttribute('disabled', 'true')
                    document.getElementById('js_stop').removeAttribute('disabled')
                    return this.state.stopped;
                },
                updateQuote() {
                    ds__fetch('https://quotes.rest/qod', (response) => {
                        const quote = response.contents.quotes[0];
                        document.getElementById('js_result').textContent = quote.quote;
                    })
                },

                start() {
                    this.state.stopped = false;
                    this.updateControls();
                    this.updateProgress();
                    this.touch();
                },
                stop() {
                    this.state.stopped = true;
                    this.updateControls();
                },

                touch() {
                    const self = this
                    this.updateQuote();

                    ds__fetch('ajax/broken/touch', (response) => {

                        app.updateState(response)

                        if (response.environment == 'DEVELOPMENT') {
                            console.debug(response)
                            console.table(response.data)
                        }

                        if (response.code != 0) {
                            console.error(response.message)
                            this.state.stopped = true;
                            this.updateControls();
                            return false
                        }

                        if (response.data.untouched == 0) {
                            this.state.stopped = true;
                            this.updateInfo('Loading result...');
                            this.updateControls();
                            this.fetchResult();
                        }

                        if (! app.state.stopped && response.data.untouched > 0) {
                            self.touch()
                        }
                    })
                },

                fetchResult() {
                    ds__fetchText('ajax/broken/result', (response) => {
                        document.getElementById('js_result').innerHTML = response.trim();
                        this.updateInfo('Done.');
                    })
                }
            }

            /**
             * Events
             */
            ds__bindEvent_getElementById('js_start', 'click', () => {
                app.start()
                console.debug('Started')
            })

            ds__bindEvent_getElementById('js_stop', 'click', () => {
                app.stop()
                console.debug('Stopped')
            })

            /**
             * Main
             */
            app.init();

            console.debug('[broken_links:ready]')
        })
    </script>
{% endblock %}

