{% extends "layout/app.twig" %}

{% block styles %}
    <link rel="stylesheet" href="public/css/article-list.css" type="text/css"/>
    <style>
        .btn-big {
            padding: 3px;
            margin: 3px;
            font-size: 13px;
        }
    </style>
{% endblock %}

{% block container %}

    <div class="articleListTitle">
        {% block sections %}
            {% include 'component/sections_organized.twig' with {'sections': sections, 'checkbox': false} %}
        {% endblock %}
    </div>

    <div class="articleLinks-container" id="id__container">
        {% block article_list %}
            <h1>Doc Editor</h1>
            <!------------------------ CIRCLES ----------------------------------------------->
            {%  for item in circles %}
                <div class="circle">
                    <div class="insideCircle">
                        <h2>{{ item.status_count }}</h2>
                        {% set url = item.url ?: 'article_list?status_id=' ~ item.status_id %}
                        <a href="./{{ url }}&section_name={{ item.status_name }}"
                           id="id__status_{{ item.status_id }}" class="status" style="color: {{ item.status_color }}">{{ item.status_name }}
                        </a>
                    </div>
                </div>
            {% endfor %}
            <!------------------------ /CIRCLES ----------------------------------------------->
            <div class="new-articleList">
                <h2 class="subTitles-homePage"><a href="./article_list?filter=recently_inserted">New Articles</a></h2>
                {% include 'component/article_table_index.twig' with {'articles': recently_inserted} %}
            </div>
            <div class="lastUpdated-articleList">
                <h2 class="subTitles-homePage"><a href="./article_list?category=recently_updated">Last Updated</a></h2>
                {% include 'component/article_table_index.twig' with {'articles': recently_updated} %}
            </div>
            <div>
                <button class="btn btn-big" onclick="location.href='organizer'">Category Organizer</button>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        ds__onReady(() => {
            console.debug('[index:ready]')
        })
    </script>
{% endblock %}

