{% extends 'layout/playground.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="public/css/article-list.css" type="text/css"/>
    <link rel="stylesheet" href="public/css/styles_new.css" type="text/css"/>
{#    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">#}
    <style>
        .ghost {
            font-weight: bold;
            background: wheat;
        }
        li.handle {
            cursor: grab;
        }
        li.brand {
            font-size: large;
            font-weight: bolder;
        }
        li.button {
            border-top: 2px solid;
            padding-top: 11px;
        }
        li.section {
            padding-left: 13px;
        }
        .new {
            color: green;
        }
        .deleted {
            color: red;
            text-decoration: line-through;
        }
        .updated {
            color: orange;
        }

        .articleListTitle ul li.line {
            border-top: 1px dotted;
            width: 131px;
            margin-left: 30px;
        }
        ul.tools {
            list-style-type: none;
            padding: 17px;
        }
        ul.tools > li {
            margin: 7px;
            padding: 7px;
        }
        li.tool {
            border: 1px dashed darkgray;
        }
        span.bold {
            font-weight: bold;
        }
        .text-big {
            font-size: 17px;
        }
        .no-bottom {
            margin-bottom: 0;
        }
        input[type="text"] {
            height: 33px;
            width: 100%;
            background-color: #e3effe;
        }
        button {
            padding: 7px;
            font-size: 15px;
        }
    </style>
{% endblock %}

{% block container %}

    <div class="articleListTitle">
        <ul id="js__sections">
            <li class="homeLink">
                <a href="./">Home Page</a>
            </li>
            {% for item in sections %}
                <li  data-section_type="{{ item.section_type }}"
                     data-section_id="{{ item.section_id }}"
                     data-section_total="{{ item.section_total }}"
                     data-section_name="{{ item.section_title }}"
                     {% if item.not_organized %}
                         data-action="update"
                         class="js__section handle new {{ item.section_type }}"
                     {% else %}
                         class="js__section handle {{ item.section_type }}"
                     {% endif %}
                >
                    {{ item.section_title }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="articleLinks-container" id="id__container">
        <h1>Category Playground</h1>


        <div class="twinBlocks">

            <section class="innerContent">
                <p class="pageTitle no-bottom">Separators</p>
                <ul id="js__separators" class="tools">
                    <li data-section_type="line"
                        data-section_id="0"
                        class="line js__section handle tool">
                        <hr />
                    </li>
                </ul>
            </section>

            <section class="innerContent">
                <p class="pageTitle no-bottom">Brands</p>
                <ul id="js__brands" class="tools">
                    {% for item in available_brands %}
                        <li data-section_type="brand"
                            data-section_id="{{ item.reseller_id }}"
                            data-section_name="{{ item.reseller_name }}"
                            class="brand js__section handle tool">
                            {{ item.reseller_name }}
                        </li>
                    {% endfor %}
                </ul>
            </section>

            <section class="innerContent">
                <p class="pageTitle no-bottom">Add Category</p>
                <ul class="tools" id="js__new_sections">
                    <li class="">
                        <input type="text" id="js__new_section_input" class="input-text">
                    </li>
                </ul>
            </section>
        </div>

        <div class="twinBlocks">
            <section class="innerContent">
                <p class="pageTitle no-bottom">Actions</p>
                <ul class="tools">
                    <li>To <span class="bold new">Add</span> category, enter new category, press Enter and drag it to desired position.</li>
                    <li>To <span class="bold updated">Edit</span> category, double click on it, modify and press Enter (Esc to cancel changes).</li>
                    <li>To <span class="bold deleted">Delete</span> category, double click on it and press Ctrl+Del.</li>
                </ul>
            </section>
            <section class="innerContent">
                <p class="pageTitle no-bottom">Save Changes</p>
                <ul class="tools">
                    <li class="">
                        <button id="js__save">I have thoroughly reviewed all changes and want to SAVE</button>
                    </li>
                </ul>
            </section>
        </div>

    </div>


{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
        ds__onReady(() => {
            /*
                Init
            */
            const sections = document.getElementById('js__sections');
            Sortable.create(sections, {
                draggable: '.js__section',
                handle: '.handle',
                group: 'shared',
                ghostClass: '.ghost',
                animation: 150,

                onMove: (event) => {
                    const moved = event.dragged;
                    console.debug('[js__sections:onMove]', moved)
                },

                onRemove: (event) => {
                    const removed = event.item;
                    console.debug('[js__sections:onRemove]', removed)
                }
            });

            const separators = document.getElementById('js__separators')
            Sortable.create(separators, {
                group: {
                    name: 'shared',
                    pull: 'clone'
                },
                ghostClass: '.ghost',
                animation: 150
            });

            const brands = document.getElementById('js__brands')
            Sortable.create(brands, {
                group: {
                    name: 'shared',
                },
                ghostClass: '.ghost',
                animation: 150
            });

            const new_sections = document.getElementById('js__new_sections')
            Sortable.create(new_sections, {
                group: {
                    name: 'shared',
                },
                draggable: '.js__section',
                handle: '.handle',
                ghostClass: '.ghost',
                animation: 150,
            })

            /*
              Helpers
            */
            function createNewSection(name) {
                const el = document.createElement('li')
                el.appendChild(document.createTextNode(name))
                el.classList.add('js__section', 'new', 'handle', 'section', 'tool')
                el.setAttribute('data-section_type', 'section')
                el.setAttribute('data-section_id', '-1')
                el.setAttribute('data-section_name', name)
                el.setAttribute('data-action', 'insert')
                new_sections.insertBefore(el, new_sections.firstChild);
                return el
            }

            const sectionNameWithTotal = (name, total) => {
                return `${name} (${total})`
            }

            function ui_insertSection() {
                const new_section_name = ds__dom_inputValue('js__new_section_input')
                createNewSection(new_section_name)
                ds__dom_inputSetValue('js__new_section_input', '')
            }

            const startContentEdit = elem => {
                elem.setAttribute('contenteditable', 'true')
                elem.focus()
            }

            const stopContentEdit = elem => {
                elem.blur()
                elem.setAttribute('contenteditable', 'false')
            }

            function ui_startEdit(elem) {
                elem.innerText = elem.getAttribute('data-section_name')
                startContentEdit(elem)
            }

            function ui_finsihEdit(elem) {
                const new_name = elem.innerText.trim()
                if (!new_name) {
                    ui_swal('Empty name', 'Are you kidding?', 'error')
                    ui_cancelEdit()
                    return false
                }
                stopContentEdit(elem)
                elem.setAttribute('data-section_name', new_name)
                // elem.innerText = sectionNameWithTotal(new_name, elem.getAttribute('data-section_total'))
                elem.innerText = new_name
                elem.setAttribute('data-action', 'update')
                elem.classList.add('updated')
                return true
            }

            function ui_cancelEdit(elem) {
                stopContentEdit(elem)
                elem.setAttribute('data-action', '')
                elem.innerText = elem.getAttribute('data-section_name')
                // elem.innerText = sectionNameWithTotal(
                //     elem.getAttribute('data-section_name'),
                //     elem.getAttribute('data-section_total')
                // )
                elem.classList.remove('updated');
                return true
            }

            const ui_swal = (title, text, type = 'success') => {
                Swal.fire({type, title, text})
                return type === 'success'
            }

            function ui_deleteSection(elem) {
                stopContentEdit(elem)

                const section_total = elem.getAttribute('data-section_total') || 1
                if (section_total > 0) {
                    return ui_swal('Oops...', 'You`re about to delete Category with articles attached', 'error')
                }

                elem.setAttribute('data-action', 'delete')
                elem.classList.add('deleted')
                elem.classList.remove('updated')
                return true
            }

            function ui_saveSections() {
                let sections = Array.from(document.getElementById('js__sections').children);

                function comma_join_set(set) {
                    return Array.from(set).join(',');
                }

                /* isn`t our guys... */
                sections = sections.filter((elem) => {
                    return elem.classList.contains('js__section')
                        // && elem.getAttribute('data-action') !== 'delete';
                })

                let reseller_tags = new Set(['1344']);
                const language_tags = new Set(['en']);
                const locale_tags = new Set(Array.from('au,ae,in,nz,uk,us,hk,id,my,ph,sg'.split(',')));
                const status = 3; // Published

                sections = sections.map((elem, key) => {

                    const section_id = elem.getAttribute('data-section_id');
                    const section_type = elem.getAttribute('data-section_type');

                    if (section_type === 'brand') {
                        reseller_tags.clear();
                        reseller_tags.add(section_id);
                    }

                    return {
                        order_key: key,
                        section_id,
                        section_type,
                        section_title: elem.getAttribute('data-section_name'),
                        action: elem.getAttribute('data-action'),
                        reseller_tags: comma_join_set(reseller_tags),
                        locale_tags: comma_join_set(locale_tags),
                        language_tags: comma_join_set(language_tags),
                        status,
                    }
                })

                console.debug('[organizer:ui_saveSections] Sections to be saved:', sections)

                ds__fetch_postData('ajax/organizer_save', sections, (json) => {
                    if (json.response.code == 0) {
                        location.reload()
                        return ui_swal('Data saved!', json.response.message)
                    }
                    return ui_swal('Oops...', json.response.message, 'error')
                })
            }

            /*
                Events
             */

            const JS_SECTIONS_SELECTOR = '#js__sections > li[data-section_type="section"]'
            const js_sections = document.querySelectorAll(JS_SECTIONS_SELECTOR)

            ds__bindEvent_items(js_sections, 'dblclick', (event) => {
                ui_startEdit(event.target)
            })

            ds__bindEvent_items(js_sections, 'keypress', (event) => {
                if (event.key === 'Enter') {
                    return ui_finsihEdit(event.target)
                }
            })

            ds__bindEvent_items(js_sections, 'blur', (event) => {
                return ui_finsihEdit(event.target)
            })

            ds__bindEvent_items(js_sections, 'keydown', (event) => {
                if (event.key === 'Escape') {
                    return ui_cancelEdit(event.target)
                }
                if (event.ctrlKey && event.key === 'Delete') {
                   return ui_deleteSection(event.target)
                }
            })

            ds__bindEvent_getElementById('js__new_section_input', 'keypress', (event) => {
                if (event.key !== 'Enter') return false;
                ui_insertSection()
            })

            ds__bindEvent_getElementById('js__save', 'click', (event) => {
                ui_saveSections()
            })

            console.debug('[organizer:ready]');
        })
    </script>
{% endblock %}

